*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    z-index: 50;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header.index{
    background-image: url("../assets/images/fondo_contacto.jpg");
}
.header.biografia{
    background-image: url("../assets/images/fondo_contacto_v2.jpg");
}
.header.portfolio{
    background-image: url("../assets/images/fondo_contacto_v3.jpg");
}
.header.contacto{
    background-image: url("../assets/images/fondo_contacto_v4.jpg");
}
.Logo img{
    width: 5rem;
    height: auto;
    z-index: 50;
}
.menu{ 
    position: sticky; /* POSICION STICKY */
    top: 0;
    background-color: rgb(74, 74, 74);
    padding: 10px;
    z-index: 100;
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    font-size: 1.2rem;
    width: 100%;
}
.menu *{ 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu a:hover{
    color: #d81e01;
}
.contenedor-biografia{
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    color: #333;
    margin: 3rem;
    font-size:1.2rem;
    margin-bottom: 90px;
}
.contenedor-biografia .apartado{
    margin-top: 30px;
}
.contenedor-biografia h2{
    text-decoration:underline;
}
.contenedor-biografia li{
    margin-top: 10px;
    margin-left: 50px;
}
.cuerpo_contacto{
    background-image: url("../assets/images/fondo_contacto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
form {
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 80%;
    margin: 2rem auto;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 5px 10px black;
    background-color: rgba(255, 255, 255, 0.485);
    backdrop-filter: blur(4px);
}
fieldset {
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: white;
}
legend {
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    color: #444;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.submit, .reset {
    margin: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: #2a7fe1;
    color: white;
}
.submit:hover, .reset:hover{
    color: #d81e01;
}
main{
    padding: 2rem;
    font-size: 1.2rem;
    padding-bottom: 75px;
    line-height: 1.6;
}
main section{
    padding-top: 10px;
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    color:white;
}
main>section>div>p{
    color:black;
}
main section article{
    padding-top: 25px;
}
main section article h3{
    text-decoration:underline;
    color: white;
}
main h1, main h2{
    color:black;
}
.motor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    background-image: url("../assets/images/fondo_contacto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.destacados :nth-of-type(3) {
    background-image: url("../assets/images/fondo_contacto_v3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.motor_v2 {
    display: flex;
    flex-direction:column-reverse;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    border: 2px solid rgb(0, 191, 255);
    border-radius: 5px;
    background-image: url("../assets/images/fondo_contacto_v2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img-articulo.articulo1 img, .img-articulo.articulo2 img, .img-articulo.articulo3 img{
    max-width: 100%;
    height: auto;
}
.contenedor-portfolio figure img{
    max-width: 100%;
}
.contenedor-portfolio{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr ;
    row-gap: 50px; 
    margin-bottom: 90px;
}
.contenedor-portfolio > *:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 60%;
}
.contenedor-portfolio figure figcaption{
    font-family: "Racing Sans One", "Orbitron", "Lemon", sans-serif;
    color: #333;
}

.contenedor-contacto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.info-de-contacto{
    width: auto;
}
.apartado-quien-soy{
    margin-top: 20px;
    width: auto;
}
.foto-contacto{
    width: auto;
}
.videos{
    display: flex;
    justify-content: space-around;
    max-width: 75%;
    margin: 5px auto;
    margin-bottom: 80px;
    align-items: center;
}
.videos video {
    max-width: 350px;
    width: 100%;
    height: auto;
}
/* ==================================== PIE DE PAGINA ============================================ */
.pie-de-pagina{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: 0.80;
    color: white;
    padding: 15px;
    z-index: 1000;
}
.pie-de-pagina #contacto a{
    color: yellow;
}

/* 
< ===================================================== >
                        768px
< ===================================================== >
*/

@media screen and (min-width:768px) {
    header{
        font-size: 1.6rem;
    }
    .Logo img{
        width: 5rem;
        height: auto;
    }
    .menu{
        font-size: 1.3rem;
    }
    main section{
        padding-top: 20px;
    }
    main section article{
        padding-top: 20px;
    }
    .motor {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        padding: 20px;
    }
    .motor_v2 {
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin:auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-articulo.articulo1 img, .img-articulo.articulo2 img, .img-articulo.articulo3 img{
        max-width: 90%;
        height: auto;
    }
    .cuerpo_contacto {
        background-attachment: fixed;
    }
    .contenedor-contacto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        height: auto;
    }
    .contenedor-portfolio{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
    }
    .contenedor-portfolio > *:last-child:nth-child(odd) {
        width: 100%;
        grid-column: auto;
    }
}/*768px*/


/* 
< ===================================================== >
                        922px
< ===================================================== >
*/

@media screen and (min-width:992px) {
    header{
        font-size: 1.8rem;
    }
    .Logo img{
        width: 6.5rem;
        height: auto;
    }
    .menu{
        font-size: 1.4rem;
    }
    main section{
        padding-top: 25px;
    }
    main section article{
        padding-top: 25px;
    }
    .motor_v2 {
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contenedor-contacto{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
    }
}/*992px*/

/* 
< ===================================================== >
                        1200px
< ===================================================== >
*/

@media screen and (min-width:1200px) {
    header{
        font-size: 2rem;
    }
    .Logo img{
        width: 8rem;
        height: auto;
    }
    .menu{
        font-size: 1.6rem;
    }
    main{
        font-size: 1.3rem;
    }
    main section{
        padding-top: 25px;
    }
    main section article{
        padding-top: 25px;
    }
    .motor_v2 {
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-articulo.articulo1 img, .img-articulo.articulo2 img, .img-articulo.articulo3 img{
        max-width: 85%;
        height: auto;
    }
    .contenedor-biografia{
        margin: 3rem;
        font-size:1.3rem;    
    }
    .contenedor-contacto{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
    }
}/*1200px*/